# --- Terraform Secrets and State ---
**/terraform.tfvars
**/*.tfstate
**/*.tfstate.backup
**/.terraform/
**/.terraform.lock.hcl

# --- GCP Keys ---
*.json

# --- .NET and Python Ignores ---
**/bin/
**/obj/
**/__pycache__/
**/.pytest_cache/
**/*.joblib

# --- Secrets ---
*-secrets.yaml
*-secret.yaml
